## Conditional

In [ ]:
angka=29
print(f'{angka} lebih dari 30')

29 lebih dari 30

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
angka=35
if angka > 30:
  print(f'{angka} lebih besar dari 30')
else:
  print(f'{angka} lebih kecil dari 30')

35 lebih besar dari 30

In [ ]:
angka=35
if angka > 30:
  print(f'{angka} lebih besar dari 30')
else:
  print(f'{angka} lebih kecil dari 30')

15 adalah ganjil

In [ ]:
angka=17
if angka%2 == 0:
  print(f'{angka} adalah genap')
else:
  print(f'{angka} adalah ganjil')

17 adalah ganjil

In [ ]:
bahasa_pemograman= ('python', 'java_script', 'golang')
bahasa='html'

if bahasa in bahasa_pemograman:
  print(f'{bahasa} ada di dalam bahasa_pemograman')
else:
  print(f'{bahasa} tidak ada di dalam bahasa_pemograman')

html tidak ada di dalam bahasa_pemograman

In [ ]:
angka = 30
if angka > 30:
  print(f'{angka} lebih besar dari 30')
elif angka == 30: #jangan lupa tanda :
  print(f'{angka} sama dengan 30')  # elif bisa dipakai untuk kondisi lebih dari satu
else:
  print(f'{angka} lebih kecil dari 30')  # boleh ga ada

# identation penting, if elif else rata, print menjorok dan rata

30 sama dengan 30

In [ ]:
biodata = {'nama':'Afif', 'pekerjaan':'Data Science',  'usia':20}
'usia' in biodata #cek key bisa langsung

True

In [ ]:
'Afif' in biodata.values() #cek value ada tambahan perintah

True

### Nested IF

In [ ]:
angka=40
if angka%2 == 0:
  print(f'{angka} adalah genap')
  if angka > 30:
    print(f'{angka} lebih besar dari 30')
  else:
    print(f'{angka} lebih kecil dari 30')
else:
  print(f'{angka} adalah ganjil')

40 adalah genap
40 lebih besar dari 30

In [ ]:
nilai = 75
if 0 <= nilai <= 100:
  if nilai >=85:
    print(f'{nilai} mendapatkan A')
  elif nilai >= 70:
    print(f'{nilai} mendapatkan B')
  elif nilai >= 50:
    print(f'{nilai} mendapatkan C')
  elif nilai >= 25:
    print(f'{nilai} mendapatkan D')
  else:
    print(f'{nilai} mendapatkan E')
else:
  print('nilai tidak valid')

75 mendapatkan B

## Looping

In [ ]:
i = 0
while i < 5: # loop berhenti sebelum nilai i 5
  print(f'i={i}, dalam while loop')
  i = i+1 # bisa juga dimuat sebagai i +=1 (perintah yang sama)

i=0, dalam while loop
i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop

In [ ]:
j = 1
while j <= 10:
  print(f'7 x {j} = {7*j}')
  j = j+1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### Nested Loop (tabel perkalian)

In [ ]:
# membuat tabel perkalian m x n

m = 1 # nilai awal yang di-loop
n = 1

while m <= 10:    # loop sampai m nilai 10
  while n <= 10: # syarat n di setiap tabel, n dulu yang di-loop
   print(f'{m} x {n} = {m*n}')
   n += 1 # loop berjalan terus sampai syarat n=10
  print('*'*50) # memberi batas ke tabel berikutnya
  m += 1   # buat tabel berikut, m naiik satu, indent 1 tab dari perintah utama (while m <= 10)
  n = 1   # buat tabel berikut, n mulai dari 1 lagi

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

### keyword break

In [ ]:
# memberhenyikan loop sebelum waktunya

j = 1
while j <= 10:
  print(f'8 x {j} = {8*j}')
  j = j+1
  if j ==5:
    break   # ketika j=5, perintah berhenti, tidak kembali ke perintah perkalian selanjutnya

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32

In [25]:
pesanan = []
while True:
  pesan = input ('Masukkan pesanan anda : ')
  if pesan == 'cukup': # ketika diisi cukup, loop berhenti masuk ke perintah berikutnya
    break
  pesanan.append(pesan)
print(pesanan) # menampilkan seluruh pesanan

Masukkan pesanan anda : ayam bakar
Masukkan pesanan anda : nasi goreng
Masukkan pesanan anda : i fu mie
Masukkan pesanan anda : es teh manis
Masukkan pesanan anda : cukup
['ayam bakar', 'nasi goreng', 'i fu mie', 'es teh manis']

### continue

In [29]:
j = 0
while j <= 9:
  j = j+1
  if j ==5 :  # perkalian 5 dihilangkan posisi perintah sangat penting
    continue
  print(f'7 x {j} = {7*j}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

### for loop

In [33]:
buah = ('pepaya', 'mangga', 'pisang', 'jambu')
for b in buah : # for dan in berpasangan
  print (f'{b} adalah item dari list buah')

pepaya adalah item dari list buah
mangga adalah item dari list buah
pisang adalah item dari list buah
jambu adalah item dari list buah

In [45]:
# sebagai while

i=0
buah = ('pepaya', 'mangga', 'pisang', 'jambu', 'melon', 'apel')
while i < len(buah) :
  print(f'{buah[i]} adalah item dari list buah') 
  i += 1

pepaya adalah item dari list buah
mangga adalah item dari list buah
pisang adalah item dari list buah
jambu adalah item dari list buah
melon adalah item dari list buah
apel adalah item dari list buah

In [50]:
sayur = ('kangkung', 'singkong', 'pare', 'tomat')
for k in range(len(sayur)) :
  print (f'{sayur[k]} adalah item dari list sayur')

kangkung adalah item dari list sayur
singkong adalah item dari list sayur
pare adalah item dari list sayur
tomat adalah item dari list sayur

In [55]:
# tabel perkalian dengan for loop

for i in range(1,11) :
  print(f'7 x {i} = {7*i}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [57]:
for j in range(1,11) :
  for i in range(1,11) :
    print(f'{j} x {i} = {j*i}')
  print('*'*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [65]:
for i in range(1,11) :
  if i ==5 :
    continue
  print(f'7 x {i} = {7*i}')

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [70]:
for j in range(1,11) :
  for i in range(1,11) :
    if i == 5 :
      continue
    print(f'{j} x {i} = {j*i}')
  print('*'*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************